@import '../abstracts/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: $midnight;
}

body {
    height: 100vh;
    width: 100%;
    background-color: $lightGrey;
}

a {
    text-decoration: none;
    cursor: pointer;
}

span {
    cursor: pointer;
}

button {
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}