@import '../abstracts/variables';

.primaryBtn,
.secondaryBtn {
    width: 141px;
    height: 48px;
    border-radius: 7px;
    border: none;
}

.primaryBtn {
    background-color: $violet;
    color: $white;

    &:hover {
        background-color: $midViolet;
    }
}

.secondaryBtn {
    background-color: $paleViolet;
    color: $violet;

    &:hover {
        background-color: $lightViolet;
    }
}

/* Dark theme buttons */
.darkBtn {
    width: 141px;
    height: 48px;
    border-radius: 7px;
    border: none;
    background-color: #303642;
    color: $white;
    outline: none;

    &:hover {
        background-color: #696e76;
    }
}