@import '../../assets/styles/abstracts/variables';
@import '../../assets/styles/main';

.formContainer {
    .registerForm {
        h3 {
            margin-bottom: 20px;
        }

        input {
            margin-top: 20px;
            margin-bottom: 30px;
        }

        .errorMessage {
            color: red;
            font-size: 0.6rem;
            margin-bottom: 20px;
        }

        // label {
        //     margin: 10px 0;
        // }
    }
}