@import '../../assets/styles/main';
@import '../../assets/styles/abstracts/variables';

.formContainer {
    .registerForm {
        label {
            margin: 20px 0;
        }

        input {
            margin-bottom: 20px;
        }

        .errorMessage {
            color: red;
            font-size: 0.6rem;
        }

        .formBtns {
            margin-top: 30px;
            width: 100%;

            button {
                width: 100%;
            }
        }
    }
}