@import './variables';

body {
    font-size: 16px;
    font-family: $primaryFont;
}

h1 {
    font-size: 28px;
    font-family: $primaryFont;
}

h2 {
    font-size: 24px;
    font-family: $primaryFont;
}

h3 {
    font-size: 20px;
    font-family: $primaryFont;
}

h4 {
    font-size: 14px;
    font-family: $primaryFont;
}

p {
    font-size: 16px;
    font-family: $primaryFont;
}

input { 
    font-family: $primaryFont;
    font-weight: 300;
    letter-spacing: 0.05em;
}